
/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #f4eedf);
    min-height: 100vh;
    padding: 40px 20px;
    color: #332d21;
}

/* CARD */

.card {
    background: white;
    max-width: 550px;
    margin: auto;
    padding: 40px;
    border: 2px solid #d4af37;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(150, 120, 50, 0.15);
}

/* TÍTULO */

h1 {
    text-align: center;
    color: #9b792f;
    font-family: Georgia, serif;
    margin-bottom: 30px;
}

/* FORMULÁRIO */

form div {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 7px;
    color: #80652c;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d9c89f;
    border-radius: 6px;
    background: #fffdf7;
}

input:focus {
    outline: none;
    border-color: #b89646;
}

/* BOTÃO */

button {
    width: 100%;
    padding: 14px;
    background: #b89646;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #8d6d2e;
    transform: translateY(-3px);
}

/* RESULTADO */

.resultado {
    background: #fffaf0;
    padding: 25px;
    margin-top: 30px;
    border: 1px solid #d9c89f;
    border-radius: 8px;
}

.resultado h2 {
    text-align: center;
    color: #9b792f;
    margin-bottom: 20px;
}

.resultado p {
    margin-bottom: 12px;
}

/* SITUAÇÃO DO ALUNO */

.aprovado {
    color: green;
    font-weight: bold;
}

.recuperacao {
    color: #b8860b;
    font-weight: bold;
}

.reprovado {
    color: #b22222;
    font-weight: bold;
}

@media (max-width: 600px) {
    .card {
        padding: 25px;
    }
}
