* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #fff3d6, #f8d49d);
}

.menu {
    width: 400px;
    padding: 30px;

    background-color: #fffaf0;

    border-radius: 20px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    text-align: center;
}

h1 {
    color: #c96b00;
    margin-bottom: 25px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.links a {
    padding: 12px;

    background-color: #c96b00;
    color: white;

    text-decoration: none;

    border-radius: 8px;

    font-weight: bold;
}

.links a:hover {
    background-color: #a95600;
}